.headerWrap {background: crimson; color: aliceblue; padding: 50px 0;}
.headerWrap .container {margin: 0 auto; text-align: center;}
.tabmenu {padding: 100px 0; background-color:thistle; }
.tabmenu .container {width: 600px; margin: 0 auto;} 
.tabmenu .tabLink {display: flex; }
.tabmenu .tabLink>li {flex:1; }
.tabmenu .tabLink .active{ color: red;}
i { transform: translateX(1800
   px);}

.tabmenu .tabContent>div {display: none;}
.tabmenu .tabContent>div .active {display: block; }

.bgFixed {padding: 200px 0; text-align: center; color: #fff; 
    background: url(../img/main_slider_n04.jpg) no-repeat fixed center center/cover;
background-attachment: fixed;} 
.bgFixed h2{font-size: 15px; font-weight: 100; letter-spacing: 3em; margin-bottom: 30px;}
